<h1>Edit Note</h1>

<%# Partial not rendering - why??? %>
<%= render :partial => "layouts/errors", :locals => {:object => current_note} %>

<%= form_for current_note do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "Update Note" %>

<% end %>
